<!-- Add Album -->
<div *ngIf="!albumPhotoObj" style="text-align: center">
  <h3>Add Album Details</h3>
  <br>
  <form role="form" class="form-horizontal form-label-left" #addAlbumForm="ngForm">

    <span>
      <div class="form-group row">
        <label class="form-control-label col-md-2" for="mask-int-phone">
          Title
        </label>
        <div class="col-md-9 col-xs-12">
          <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="albumObj.title" name="albumTitle"></textarea>
        </div>
      </div>
      <br>

      <div class="form-group row">
        <label class="form-control-label col-md-2" for="mask-int-phone">
          <input type="file" (change)="selectPhoto($event)">
        </label>
        <div hidden class="col-md-9 col-xs-12">
          <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="albumObj.imageUrl" name="albumImageUrl"></textarea>
        </div>
        <img src="{{albumObj.imageUrl}}" style="width: 200px; height: 200px;">
      </div>
      <br>

    </span>

    <div class="modal-footer">
      <button (click)="addAlbum(albumObj)" class="btn btn-success">Save Album Details</button>
      <!-- <button (click)="close(); addAlbumForm.reset()" class="btn btn-danger">Close</button> -->
    </div>
  </form>
</div>

<!-- Add Photos to album -->
<div *ngIf="albumPhotoObj" style="text-align: center">

  <h3>Add More Photos to Album</h3>

  <form role="form" class="form-horizontal form-label-left" #addAlbumPhotosForm="ngForm">

    <span>

      <div hidden class="form-group row">
        <label class="form-control-label col-md-2" for="mask-int-phone">
          Id
        </label>
        <div class="col-md-9 col-xs-12">
          <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="albumPhotoObj.albumId" name="albumId"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="form-control-label col-md-2" for="mask-int-phone">
          <input type="file" (change)="getSelectedPhoto($event)">
        </label>

        <div hidden class="col-md-9 col-xs-12">
          <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="albumPhotoObj.imageUrl" name="albumImageUrl"></textarea>
        </div>
        <img src="{{albumPhotoObj.imageUrl}}" style="width: 200px; height: 200px">
      </div>
      <br>

    </span>

    <div class="modal-footer">
      <button (click)="postAlbumPhotos(albumPhotoObj)" class="btn btn-success">Add Photo</button>
      <!-- <button (click)="close(); albumPhotoObj.reset()" class="btn btn-danger">Close</button> -->
    </div>
  </form>
</div>

<!--list of album images-->
<div *ngIf="photos" class="row">
  <h3 style="text-align: center">Photos</h3>
  <div *ngFor="let photo of photos" class="col-md-3">
    <br>
    <br>
    <div style="width:100%; height:100%">
      <img style="width: 100%; height:100%" src="{{photo.imageUrl}}">
    </div>
  </div>

  <div class="modal-footer">
    <button (click)="close();" class="btn btn-danger">Close</button>
  </div>

</div>