<div class="container">
   <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <h2 class="text-center">Applications List</h2>
    <section class="widget" widget>
      <div class="widget-body">
        <!--{{admissions|json}}-->

        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive">

          <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 " style="float: right;">
              <div class="input-group input-group-sm input-group-transparent input-group-rounded">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-search"></i>
                </span>
                <input class="form-control form-control-sm" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Search Name, Email, Status"
                  (ngModelChange)="filterAdmissions($event)">
              </div>
            </div>

            <div class="btn btn-xs btn-success">
              <a (click)="getAdmissionExcel()" style="cursor: pointer; font-size: 16px; text-decoration: none; color: white" title="Get Admissions Excel">
                Get Admissions Excel
              </a>
            </div>
          </div>

          <br>

          <div>
            <table class="table table-stripped table-hover table-lg mt-lg mb-0">
              <thead>
                <tr>
                  <th style="width: 8%">Adm. No</th>
                  <th style="width: 36%">Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Status</th>
                  <th style="width: 12%">Registered</th>
                  <th style="width: 14%">Updated</th>
                  <th>More</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let admissionObj of filteredAdmissions | paginate: { itemsPerPage: 10, currentPage: page }">
                  <td>{{admissionObj.admissionId}}</td>
                  <td>{{admissionObj.firstName}} {{admissionObj.middleName}} {{admissionObj.lastName}}</td>
                  <td>{{admissionObj.email}}</td>
                  <td>{{admissionObj.mobileNumber}}</td>
                  <td>{{admissionObj.status}}</td>
                  <td>{{admissionObj.createdOn | date:'mediumDate'}}</td>
                  <td>{{admissionObj.updatedOn | date:'mediumDate'}}</td>
                  <td>
                    <div class="row">
                      <div class="col-md-6">
                        <a class="fa fa-info-circle" title="Details" id="more" style="cursor: pointer; font-size: 16px; text-decoration: none;" [routerLink]="['/application-form-details', admissionObj?.email || 'all']">
                        </a>
                      </div>

                      <div class="col-md-6">
                        <a (click)="deleteStudent(admissionObj.admissionId, admissionObj.firstName, admissionObj.lastName)" class="fa fa-trash" title="Delete"
                          style="cursor: pointer; font-size: 16px; text-decoration: none;"></a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div>
            <pagination-controls style="text-align: right; font-weight: bold;" (pageChange)="page = $event" autoHide="true">
            </pagination-controls>

            <div style="text-align: left">
              <b>Total Registrations:</b> {{totalReg}}
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>
