<div class="text-center">
    <p class="h4" style="text-align: center;">Online Admission Form for MSW.</p>
</div>
<br><br><br><br><br>

<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row text-center">
								<a href="#" class="active" id="login-form-link">Login</a>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" (ngSubmit)="login(username.value ,lpassword.value)" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input autocomplete="off" type="text" name="username" id="username" tabindex="1" #username class="form-control" placeholder="Email" value="" (change)="loginCredsChanged()">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" #lpassword (change)="loginCredsChanged()">
									</div>
<!--
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>
-->
									

									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<button class="form-control btn btn-login" type="submit" name="login-submit" id="login-submit" tabindex="4" >
                                                  <i *ngIf="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i>Login
                                               </button>
											</div>
										</div>
									</div>

									
<!--
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
-->
                                    
                      <p style="text-align:center;color:red;" *ngIf="invalidCreds">Invalid username or password</p>                
                                    
								</form>
                                
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>