<router-outlet>
  <section *ngIf="loggedIn">
    <div class="text-right" style="background-color: #f5f5f5;">
      <a [class]='active' [routerLink]="['/application-form-list']" style="font-size: 20px; padding: 20px;">Admissions</a>
      <a [routerLink]="['/albums']" style="font-size: 20px; padding: 20px;">Albums</a>
      <a [routerLink]="['/notices']" style="font-size: 20px; padding: 20px;">Notices</a>
      <a class="btn btn-primary" style="margin: 20px;" (click)="logout()" title="Log Out">
        <span>
          <i class="glyphicon glyphicon-off"> </i>
        </span>
      </a>
    </div>
  </section>
  <div class="text-center">
    <img src="./assets/logo.png">
  </div>
</router-outlet>
