/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";*/

.container{
    padding: 20px 15px;
    margin: auto;
    width: 80%;
}

