<!-- <div class="text-right">
  <a class="btn btn-primary" style="margin: 20px;" (click)="logout()" title="Log Out">
    <span>
      <i class="glyphicon glyphicon-off"> </i>
    </span>
  </a>
</div> -->


<!-- <div class="text-center">
  <br>
  <img src="../assets/logo.png">
  <p class="h4" style="text-align: center;">Online Admission Form for MSW.</p>
</div> -->

<hr>

<div class="container">
  <h2 *ngIf="admission.admissionNumber" style="text-align: center;">Application Number: {{admission.admissionNumber}}</h2>

  <h3 style="text-align: center;">Application Status: {{admission.status}}</h3>
  <h4 style="text-align: center;">Statue Note: {{admission.statusNote}}</h4>
  <button class="btn btn-primary" style="float: right;" (click)="goToListPage()"> Back </button>

  <div>
    <br>
    <br>

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Personal Details</legend>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <label>Name:</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{admission.firstName}} {{admission.middleName}} {{admission.lastName}}
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <label>Gender:</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{admission.gender}}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <label>Email:</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{admission.email}}</div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <label>Phone:</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{admission.mobileNumber}}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <label>DOB:</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              {{dateformat}}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <label>Nationality:</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{admission.nationality}}</div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <label>Religion:</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              {{admission.religion}}
              <span *ngIf="admission.religion === 'Christian'">({{admission.christianDenomination}})</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <label>Caste:</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{admission.caste}}</div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <label>Disability:</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              {{admission.disablilityStatus}}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <label> Address:</label>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              {{admission.cAddress}}
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Family Details</legend>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h4>Father's Details</h4>
            <div>
              <label> Name:</label> {{admission.fathersName}}
              <br>
              <label> Contact:</label> {{admission.fathersMobile}}
              <br>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h4>Mother's Details</h4>
            <div>
              <label> Name:</label> {{admission.mothersName}}
              <br>
              <label> Contact:</label> {{admission.mothersMobile}}
              <br>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h4>Guardian's Details</h4>
            <div>
              <label> Name:</label> {{admission.nameOfGuardian}}
              <br>
              <label> Contact:</label> {{admission.guardianMobile}}
              <br>
              <!--<label> Relation:</label>  {{admission.relationWithGuardian}}<br>-->
              <label> Address:</label> {{admission.guardianAddress}}
              <br>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div>
              <label> Family Income:</label> {{familyIncome}}
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!admission.isYearlyPattern" class="panel panel-default">
      <div class="panel-body">
        <legend>Educational Details</legend>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <h4>10th(S.S.C)</h4>
            <div>
              <label> Academic Year:</label> {{admission.academicYear10}}
              <br>
              <label> Attempt(s):</label> {{admission.attempt10}}
              <br>
              <label>Marks Obtained:</label> {{admission.marksObtained10}}
              <br>
              <label>Marks Out of:</label> {{admission.marksOutOf10}}
              <br>
              <label>Percentage:</label> {{admission.percentage10}}
              <br>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h4>12th(H.S.C)</h4>
            <div>
              <label> Academic Year:</label> {{admission.academicYear12}}
              <br>
              <label> Attempt(s):</label> {{admission.attempt12}}
              <br>
              <label>Marks Obtained:</label> {{admission.marksObtained12}}
              <br>
              <label>Marks Out of:</label> {{admission.marksOutOf12}}
              <br>
              <label>Percentage:</label> {{admission.percentage12}}

            </div>
          </div>
          <br>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <legend style="text-align: center">Graduation</legend>
          <legend style="text-align: center;">First Year</legend>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h4>Sem I</h4>
            <div>
              <label> Academic Year:</label> {{admission.academicYearSem1}}
              <br>
              <label> Attempt(s):</label> {{admission.attemptSem1}}
              <br>
              <label>Marks Obtained:</label> {{admission.marksObtainedSem1}}
              <br>
              <label>Marks Out of:</label> {{admission.marksOutOfSem1}}
              <br>
              <label>Percentage:</label> {{admission.percentageSem1}}
              <br>

              <span *ngIf="admission.resultPendingSem1">
                <label>Result Pending?:</label> Yes
                <br>
                <label>Reason for Result Pending:</label> {{admission.resultPendingReasonSem1}}
              </span>
              <br>

              <span *ngIf="!admission.resultPendingSem1">
                <label>Result Pending?:</label> No
              </span>
              <br>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h4>Sem II</h4>
            <div>
              <label> Academic Year:</label> {{admission.academicYearSem2}}
              <br>
              <label> Attempt(s):</label> {{admission.attemptSem2}}
              <br>
              <label>Marks Obtained:</label> {{admission.marksObtainedSem2}}
              <br>
              <label>Marks Out of:</label> {{admission.marksOutOfSem2}}
              <br>
              <label>Percentage:</label> {{admission.percentageSem2}}
              <br>

              <span *ngIf="admission.resultPendingSem2">
                <label>Result Pending?:</label> Yes
                <br>
                <label>Reason for Result Pending:</label> {{admission.resultPendingReasonSem2}}
              </span>
              <br>

              <span *ngIf="!admission.resultPendingSem2">
                <label>Result Pending?:</label> No
              </span>
              <br>
            </div>
          </div>
        </div>
        <br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr>
          <legend style="text-align: center;">Second Year</legend>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h4>Sem III</h4>
            <div>
              <label> Academic Year:</label> {{admission.academicYearSem3}}
              <br>
              <label> Attempt(s):</label> {{admission.attemptSem3}}
              <br>
              <label>Marks Obtained:</label> {{admission.marksObtainedSem3}}
              <br>
              <label>Marks Out of:</label> {{admission.marksOutOfSem3}}
              <br>
              <label>Percentage:</label> {{admission.percentageSem3}}
              <br>

              <span *ngIf="admission.resultPendingSem3">
                <label>Result Pending?:</label> Yes
                <br>
                <label>Reason for Result Pending:</label> {{admission.resultPendingReasonSem3}}
              </span>
              <br>

              <span *ngIf="!admission.resultPendingSem3">
                <label>Result Pending?:</label> No
              </span>
              <br>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h4>Sem IV</h4>
            <div>
              <label> Academic Year:</label> {{admission.academicYearSem4}}
              <br>
              <label> Attempt(s):</label> {{admission.attemptSem4}}
              <br>
              <label>Marks Obtained:</label> {{admission.marksObtainedSem4}}
              <br>
              <label>Marks Out of:</label> {{admission.marksOutOfSem4}}
              <br>
              <label>Percentage:</label> {{admission.percentageSem4}}
              <br>

              <span *ngIf="admission.resultPendingSem4">
                <label>Result Pending?:</label> Yes
                <br>
                <label>Reason for Result Pending:</label> {{admission.resultPendingReasonSem4}}
              </span>
              <br>

              <span *ngIf="!admission.resultPendingSem4">
                <label>Result Pending?:</label> No
              </span>
              <br>
            </div>
          </div>
        </div>
        <br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr>
          <legend style="text-align: center;">Third Year</legend>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h4>Sem V</h4>
            <div>
              <label> Academic Year:</label> {{admission.academicYearSem5}}
              <br>
              <label> Attempt(s):</label> {{admission.attemptSem5}}
              <br>
              <label>Marks Obtained:</label> {{admission.marksObtainedSem5}}
              <br>
              <label>Marks Out of:</label> {{admission.marksOutOfSem5}}
              <br>
              <label>Percentage:</label> {{admission.percentageSem5}}
              <br>

              <span *ngIf="admission.resultPendingSem5">
                <label>Result Pending?:</label> Yes
                <br>
                <label>Reason for Result Pending:</label> {{admission.resultPendingReasonSem5}}
              </span>
              <br>

              <span *ngIf="!admission.resultPendingSem5">
                <label>Result Pending?:</label> No
              </span>
              <br>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h4>Sem VI</h4>
            <div>
              <label> Academic Year:</label> {{admission.academicYearSem6}}
              <br>
              <label> Attempt(s):</label> {{admission.attemptSem6}}
              <br>
              <label>Marks Obtained:</label> {{admission.marksObtainedSem6}}
              <br>
              <label>Marks Out of:</label> {{admission.marksOutOfSem6}}
              <br>
              <label>Percentage:</label> {{admission.percentageSem6}}
              <br>

              <span *ngIf="admission.resultPendingSem6">
                <label>Result Pending?:</label> Yes
                <br>
                <label>Reason for Result Pending:</label> {{admission.resultPendingReasonSem6}}
              </span>
              <br>

              <span *ngIf="!admission.resultPendingSem6">
                <label>Result Pending?:</label> No
              </span>
              <br>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
          <br>
          <label>University Name:{{admission.universityName}}</label>
          <br>
          <label *ngIf="admission.isYearlyPattern">Exam Pattern: Year</label>
          <br>
          <label *ngIf="!admission.isYearlyPattern">Exam Pattern: Semester</label>
          <br>
        </div>
      </div>
    </div>


    <div *ngIf="admission.isYearlyPattern" class="panel panel-default">
      <div class="panel-body">
        <legend>Educational Details</legend>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <h4>10th(S.S.C)</h4>
            <div>
              <label> Academic Year:</label> {{admission.academicYear10}}
              <br>
              <label> Attempt(s):</label> {{admission.attempt10}}
              <br>
              <label>Marks Obtained:</label> {{admission.marksObtained10}}
              <br>
              <label>Marks Out of:</label> {{admission.marksOutOf10}}
              <br>
              <label>Percentage:</label> {{admission.percentage10}}

            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h4>12th(H.S.C)</h4>
            <div>
              <label> Academic Year:</label> {{admission.academicYear12}}
              <br>
              <label> Attempt(s):</label> {{admission.attempt12}}
              <br>
              <label>Marks Obtained:</label> {{admission.marksObtained12}}
              <br>
              <label>Marks Out of:</label> {{admission.marksOutOf12}}
              <br>
              <label>Percentage:</label> {{admission.percentage12}}

            </div>
          </div>
          <hr>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <legend style="text-align: center">Graduation</legend>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h4>First Year</h4>
            <div>
              <label> Academic Year:</label> {{admission.academicYearSem1}}
              <br>
              <label> Attempt(s):</label> {{admission.attemptSem1}}
              <br>
              <label>Marks Obtained:</label> {{admission.marksObtainedSem1}}
              <br>
              <label>Marks Out of:</label> {{admission.marksOutOfSem1}}
              <br>
              <label>Percentage:</label> {{admission.percentageSem1}}
              <br>

              <span *ngIf="admission.resultPendingSem1">
                <label>Result Pending?:</label> Yes
                <br>
                <label>Reason for Result Pending:</label> {{admission.resultPendingReasonSem1}}
              </span>
              <br>

              <span *ngIf="!admission.resultPendingSem1">
                <label>Result Pending?:</label> No
              </span>
              <br>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h4>Second Year</h4>
            <div>
              <label> Academic Year:</label> {{admission.academicYearSem2}}
              <br>
              <label> Attempt(s):</label> {{admission.attemptSem2}}
              <br>
              <label>Marks Obtained:</label> {{admission.marksObtainedSem2}}
              <br>
              <label>Marks Out of:</label> {{admission.marksOutOfSem2}}
              <br>
              <label>Percentage:</label> {{admission.percentageSem2}}
              <br>

              <span *ngIf="admission.resultPendingSem2">
                <label>Result Pending?:</label> Yes
                <br>
                <label>Reason for Result Pending:</label> {{admission.resultPendingReasonSem2}}
              </span>
              <br>

              <span *ngIf="!admission.resultPendingSem2">
                <label>Result Pending?:</label> No
              </span>
              <br>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h4>Third Year</h4>
            <div>
              <label> Academic Year:</label> {{admission.academicYearSem3}}
              <br>
              <label> Attempt(s):</label> {{admission.attemptSem3}}
              <br>
              <label>Marks Obtained:</label> {{admission.marksObtainedSem3}}
              <br>
              <label>Marks Out of:</label> {{admission.marksOutOfSem3}}
              <br>
              <label>Percentage:</label> {{admission.percentageSem3}}
              <br>

              <span *ngIf="admission.resultPendingSem3">
                <label>Result Pending?:</label> Yes
                <br>
                <label>Reason for Result Pending:</label> {{admission.resultPendingReasonSem3}}
              </span>
              <br>

              <span *ngIf="!admission.resultPendingSem3">
                <label>Result Pending?:</label> No
              </span>
              <br>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
          <br>
          <label>University Name:{{admission.universityName}}</label>
          <br>
          <label *ngIf="admission.isYearlyPattern">Exam Pattern: Year</label>
          <br>
          <label *ngIf="!admission.isYearlyPattern">Exam Pattern: Semester</label>
          <br>
        </div>
        <br>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Payment Details</legend>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div>
            <label> Bank Details:</label> {{admission.bankNameBranchAddress}}
            <br>
            <label> DD Amount:</label> Rs. {{admission.ddAmount}}
            <br>
            <label> DD Date:</label> {{ddDateformat}}
            <br>
            <label> DD Number:</label> {{admission.ddNumber}}
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <legend>Documents Uploaded</legend>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <div class="col-md-3 col-lg-3">
            <label>DD Copy:</label>

            <span *ngIf="admission.ddCopyPath!==null" class="attached">Attached
              <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.ddCopyPath}}' title="Download">
                <span>
                  <i class="glyphicon glyphicon-download-alt"></i>
                </span>
              </a>
            </span>

            <span *ngIf="admission.ddCopyPath ===null" class="notAttached">Not Attached</span>
            <br>


            <div *ngIf="admission.caste !='General'">
              <label>Caste certificate:</label>
              <span *ngIf="admission.casteCertificatePath!==null" class="attached">Attached
                <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.casteCertificatePath}}' title="Download">
                  <span>
                    <i class="glyphicon glyphicon-download-alt"></i>
                  </span>
                </a>
              </span>
              <span *ngIf="admission.casteCertificatePath ===null" class="notAttached">Not Attached</span>
              <br>
            </div>

            <label>SSC Mark sheet:</label>
            <span *ngIf="admission.marksheetDocumentPath10!==null" class="attached">Attached
              <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.marksheetDocumentPath10}}' title="Download">
                <span>
                  <i class="glyphicon glyphicon-download-alt"></i>
                </span>
              </a>
            </span>
            <span *ngIf="admission.marksheetDocumentPath10 === null" class="notAttached">Not Attached</span>
            <br>

            <label>HSC Mark sheet:</label>
            <span *ngIf="admission.marksheetDocumentPath12!==null" class="attached">Attached
              <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.marksheetDocumentPath12}}' title="Download">
                <span>
                  <i class="glyphicon glyphicon-download-alt"></i>
                </span>
              </a>
            </span>
            <span *ngIf="admission.marksheetDocumentPath12 ===null" class="notAttached">Not Attached</span>

            <br>

            <label>Photo:</label>
            <span *ngIf="admission.photoPath!==null" class="attached">Attached
              <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.photoPath}}' title="Download">
                <span>
                  <i class="glyphicon glyphicon-download-alt"></i>
                </span>
              </a>
            </span>
            <span *ngIf="admission.photoPath ===null" class="notAttached">Not Attached</span>
            <br>

            <div *ngIf="admission.familyIncomeBlock === 1">
              <label>Income Certificate:</label>
              <span *ngIf="admission.bellow50KCertificatePath!==null" class="attached">Attached
                <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.bellow50KCertificatePath}}' title="Download">
                  <span>
                    <i class="glyphicon glyphicon-download-alt"></i>
                  </span>
                </a>
              </span>
              <span *ngIf="admission.bellow50KCertificatePath ===null" class="notAttached">Not Attached</span>
              <br>
            </div>
          </div>

          <div class="col-lg-5 col-md-5">
            <label>School/ college leaving certificate:</label>
            <span *ngIf="admission.schoolLeavingCertificatePath!==null" class="attached">Attached
              <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.schoolLeavingCertificatePath}}' title="Download">
                <span>
                  <i class="glyphicon glyphicon-download-alt"></i>
                </span>
              </a>
            </span>
            <span *ngIf="admission.schoolLeavingCertificatePath ===null" class="notAttached">Not Attached</span>
            <br>

            <div *ngIf="admission.caste !='General'">
              <label>Caste Validity certificate:</label>
              <span *ngIf="admission.casteValidityCertificatePath!==null" class="attached">Attached
                <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.casteValidityCertificatePath}}' title="Download">
                  <span>
                    <i class="glyphicon glyphicon-download-alt"></i>
                  </span>
                </a>
              </span>
              <span *ngIf="admission.casteValidityCertificatePath ===null" class="notAttached">Not Attached</span>
              <br>
            </div>

            <div *ngIf="!mumbaiUniversity">
              <label>Previous University Verification Report:</label>
              <span *ngIf="admission.universityVerificationReportPath!==null" class="attached">Attached
                <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.universityVerificationReportPath}}'
                  title="Download">
                  <span>
                    <i class="glyphicon glyphicon-download-alt"></i>
                  </span>
                </a>
              </span>
              <span *ngIf="admission.universityVerificationReportPath ===null" class="notAttached">Not Attached</span>
            </div>
            <br>

            <label>Passing / Convocation:</label>
            <span *ngIf="admission.convocationCertificatePath!==null" class="attached">Attached
              <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.convocationCertificatePath}}' title="Download">
                <span>
                  <i class="glyphicon glyphicon-download-alt"></i>
                </span>
              </a>
            </span>
            <span *ngIf="admission.convocationCertificatePath ===null" class="notAttached">Not Attached</span>
            <br>

            <div *ngIf="!mumbaiUniversity">
              <label>Migration Certificate:</label>
              <span *ngIf="admission.migrationCertificatePath!==null" class="attached">Attached
                <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.migrationCertificatePath}}' title="Download">
                  <span>
                    <i class="glyphicon glyphicon-download-alt"></i>
                  </span>
                </a>
              </span>
              <span *ngIf="admission.migrationCertificatePath ===null" class="notAttached">Not Attached</span>
            </div>
            <br>

            <div *ngIf="admission.maritialStatus === 'Married'">
              <label>Marriage certificate:</label>
              <span *ngIf="admission.marriageCertificatePath!==null" class="attached">Attached
                <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.marriageCertificatePath}}' title="Download">
                  <span>
                    <i class="glyphicon glyphicon-download-alt"></i>
                  </span>
                </a>
              </span>
              <span *ngIf="admission.marriageCertificatePath ===null" class="notAttached">Not Attached</span>
              <br>
            </div>

            <div *ngIf="admission.disablilityStatus === 'Yes'">
              <label>Disability certificate:</label>
              <span *ngIf="admission.disabilityCertificatePath !==null" class="attached">Attached
                <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.disabilityCertificatePath}}' title="Download">
                  <span>
                    <i class="glyphicon glyphicon-download-alt"></i>
                  </span>
                </a>
              </span>
              <span *ngIf="admission.disabilityCertificatePath ===null" class="notAttached">Not Attached</span>
              <br>
            </div>

            <div *ngIf="admission.parentsServedInArmedForces">
              <label>Ex-Serviceman Certificate:</label>
              <span *ngIf="admission.armedForcesServiceCertificatePath!==null" class="attached">Attached
                <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.armedForcesServiceCertificatePath}}'
                  title="Download">
                  <span>
                    <i class="glyphicon glyphicon-download-alt"></i>
                  </span>
                </a>
              </span>
              <span *ngIf="admission.armedForcesServiceCertificatePath ===null" class="notAttached">Not Attached</span>
              <br>
            </div>


            <div *ngIf="admission.christianDenomination === 'Roman Catholic'">
              <label>Baptism Certificate:</label>
              <span *ngIf="admission.baptismCertificatePath!==null" class="attached">Attached
                <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.baptismCertificatePath}}' title="Download">
                  <span>
                    <i class="glyphicon glyphicon-download-alt"></i>
                  </span>
                </a>
              </span>
              <span *ngIf="admission.baptismCertificatePath ===null" class="notAttached">Not Attached</span>
              <br>
            </div>
            <br>
            <br>
          </div>

          <div *ngIf="admission.isYearlyPattern" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div>
                <label>First Year Marksheet:</label>
                <span *ngIf="admission.marksheetDocumentPathSem1 !==null" class="attached">Attached
                  <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.marksheetDocumentPathSem1}}' title="Download">
                    <span>
                      <i class="glyphicon glyphicon-download-alt"></i>
                    </span>
                  </a>
                </span>
                <span *ngIf="admission.marksheetDocumentPathSem1 ===null" class="notAttached">Not Attached</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div>
                <label>Second Year Marksheet:</label>
                <span *ngIf="admission.marksheetDocumentPathSem2 !==null" class="attached">Attached
                  <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.marksheetDocumentPathSem2}}' title="Download">
                    <span>
                      <i class="glyphicon glyphicon-download-alt"></i>
                    </span>
                  </a>
                </span>
                <span *ngIf="admission.marksheetDocumentPathSem2 ===null" class="notAttached">Not Attached</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div>
                <label>Third Year Marksheet:</label>
                <span *ngIf="admission.marksheetDocumentPathSem3 !==null" class="attached">Attached
                  <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.marksheetDocumentPathSem3}}' title="Download">
                    <span>
                      <i class="glyphicon glyphicon-download-alt"></i>
                    </span>
                  </a>
                </span>
                <span *ngIf="admission.marksheetDocumentPathSem3 ===null" class="notAttached">Not Attached</span>
              </div>
            </div>
          </div>
          <br>

          <div *ngIf="!admission.isYearlyPattern" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div>
                <label>First Sem Marksheet:</label>
                <span *ngIf="admission.marksheetDocumentPathSem1 !==null" class="attached">
                  <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.marksheetDocumentPathSem1}}' title="Download">
                    <span>
                      <i class="glyphicon glyphicon-download-alt"></i>
                    </span>
                  </a>
                </span>
                <span *ngIf="admission.marksheetDocumentPathSem1 ===null" class="notAttached">Not Attached</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div>
                <label>Second Sem Marksheet:</label>
                <span *ngIf="admission.marksheetDocumentPathSem2 !==null" class="attached">Attached
                  <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.marksheetDocumentPathSem2}}' title="Download">
                    <span>
                      <i class="glyphicon glyphicon-download-alt"></i>
                    </span>
                  </a>
                </span>
                <span *ngIf="admission.marksheetDocumentPathSem2 ===null" class="notAttached">Not Attached</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div>
                <label>Third Sem Marksheet:</label>
                <span *ngIf="admission.marksheetDocumentPathSem3 !==null" class="attached">Attached
                  <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.marksheetDocumentPathSem3}}' title="Download">
                    <span>
                      <i class="glyphicon glyphicon-download-alt"></i>
                    </span>
                  </a>
                </span>
                <span *ngIf="admission.marksheetDocumentPathSem3 ===null" class="notAttached">Not Attached</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div>
                <label>Forth Sem Marksheet:</label>
                <span *ngIf="admission.marksheetDocumentPathSem4 !==null" class="attached">Attached
                  <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.marksheetDocumentPathSem4}}' title="Download">
                    <span>
                      <i class="glyphicon glyphicon-download-alt"></i>
                    </span>
                  </a>
                </span>
                <span *ngIf="admission.marksheetDocumentPathSem4 ===null" class="notAttached">Not Attached</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div>
                <label>Fifth Sem Marksheet:</label>
                <span *ngIf="admission.marksheetDocumentPathSem5 !==null" class="attached">Attached
                  <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.marksheetDocumentPathSem5}}' title="Download">
                    <span>
                      <i class="glyphicon glyphicon-download-alt"></i>
                    </span>
                  </a>
                </span>
                <span *ngIf="admission.marksheetDocumentPathSem5 ===null" class="notAttached">Not Attached</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div>
                <label>Sixth Sem Marksheet:</label>
                <span *ngIf="admission.marksheetDocumentPathSem6 !==null" class="attached">Attached
                  <a style="cursor: pointer; font-size: 16px; text-decoration: none;" href='{{admission.marksheetDocumentPathSem6}}' title="Download">
                    <span>
                      <i class="glyphicon glyphicon-download-alt"></i>
                    </span>
                  </a>
                </span>
                <span *ngIf="admission.marksheetDocumentPathSem6 ===null" class="notAttached">Not Attached</span>
              </div>
            </div>
          </div>
          <br>

        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 ">
      <label>Status Note:</label>
    </div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
      <textarea style="width: 100%;" type="text" [(ngModel)]='statusnote' placeholder="Type note for approving or rejecting the admission form">
      </textarea>
    </div>
  </div>
  <br>
  
  <div class="text-center">
    <button class="btn btn-danger" style="width: 10em" (click)="callRejectAdmissionAPI()">Reject</button>
    <button class="btn btn-primary" style="width: 10em" (click)="markIncomplete()">Mark Incomplete</button>
    <button class="btn btn-success" style="width: 10em" (click)="callApproveAdmissionAPI()">Approve</button>
  </div>
