.detailSection{

    background-color: #E3E3E3;
    padding: 15px;
    border-radius: 5px;
}

.notAttached{

   color: red;
   font-weight: bold;
}

.attached{

    color: green;
   font-weight: bold;
}