<div class="container">
  <div *ngIf="showAlbums" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <h2 class="text-center">Albums</h2>
    <button style="float: right" [routerLink]="['/album']" class="btn btn-primary">Add Album</button>
    <br>
    <br>
    <section class="widget" widget>
      <div class="widget-body">

        <table class="table table-stripped table-hover table-lg mt-lg mb-0">
          <thead>
            <tr>
              <th style="width: 50%">Title</th>
              <th style="width: 10%">Image</th>
              <th style="width: 10%">Publish</th>
              <th style="width: 10%">More</th>
            </tr>
          </thead>
          <tbody>

            <label *ngIf="albums.length == 0" style="text-align: center">No Albums to display</label>

            <tr *ngFor="let album of albums | paginate: { itemsPerPage: 5, currentPage: page }">

              <td>{{album.title}}</td>

              <td>
                <img style="width: 100px; height: 100px;" src="{{album.imageUrl}}">
              </td>

              <td>
                <button (click)="publishAlbum(album)" *ngIf="!album.isPublished; else unPublish" class="btn btn-primary">Publish</button>

                <ng-template #unPublish>
                  <button (click)="unPublishAlbum(album)" class="btn btn-warning">Un-Publish</button>
                </ng-template>
              </td>

              <td>
                <a title="Edit Album" data-toggle="modal" data-target="#myModal" (click)="openSelectedAlbum(album.albumId)" style="font-size: 20px"
                  class="fa fa-edit"></a>&nbsp;

                <a title="Delete Album" (click)="deleteAlbum(album.albumId)" style="font-size: 20px" class="fa fa-trash"></a>
              </td>

            </tr>
          </tbody>
        </table>

        <div>
          <pagination-controls style="text-align: right; font-weight: bold;" (pageChange)="page = $event" autoHide="true">
          </pagination-controls>
        </div>

      </div>
    </section>
  </div>

  <!-- Open Album -->
  <div *ngIf="openAlbum" style="text-align: center">
    <form role="form" class="form-horizontal form-label-left" #updateAlbumForm="ngForm">

      <span *ngIf="albumDetails">
        <div class="form-group row">
          <label class="form-control-label col-md-2" for="mask-int-phone">
            Title
          </label>
          <div class="col-md-9 col-xs-12">
            <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="albumDetails.title" name="albumTitle"></textarea>
          </div>
        </div>
        <br>
      </span>

      <!--list of album images-->
      <div *ngIf="albumPhotos" class="row">

        <h3 style="text-align: center">Photos</h3>
        <div *ngFor="let photo of albumPhotos" class="col-md-3">
          <br>
          <br>
          <div style="border: solid 1px bisque">
            <i title="Remove Photo" (click)="removeAlbumPhoto(photo.albumPhotoId)" style="float: right; cursor:pointer" class="fa fa-times"></i>

            <img style="width:100%; height:100%" src="{{photo.imageUrl}}">
          </div>
        </div>
        <br>
        <input style="float: right" class="btn btn-sm btn-primary" type="file" (change)="selectImageToUpolad($event)">
      </div>

      <div class="modal-footer">
        <button (click)="updateAlbum(albumDetails)" class="btn btn-success">Save Album Details</button>

        <button (click)="closeAlbum()" class="btn btn-danger">Close</button>
      </div>
    </form>
  </div>

</div>