<div *ngIf="showNotices" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <h2 class="text-center">Notices</h2>
  <section class="widget" widget>
    <div class="widget-body">

      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive">

        <div class="row">
          <button style="float:right" (click)="showAddNoticeSection()" class="btn btn-sm btn-primary">Add Notice</button>
        </div>

        <div>
          <table class="table table-stripped table-hover table-lg mt-lg mb-0">
            <thead>
              <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Publish</th>
                <th>More</th>
              </tr>
            </thead>
            <tbody>

              <label *ngIf="notices.length == 0" style="text-align: center">No Notices to display</label>

              <tr *ngFor="let notice of notices | paginate: { itemsPerPage: 5, currentPage: page }">

                <td>{{notice.title1}}</td>

                <td>
                  <img style="width: 100px; height: 100px;" src="{{notice.imageUrl1}}">
                </td>

                <td>
                  <button (click)="publishNotice(notice)" *ngIf="!notice.isPublished; else unPublish" class="btn btn-primary">Publish</button>

                  <ng-template #unPublish>
                    <button (click)="unPublishNotice(notice)" class="btn btn-warning">Un-Publish</button>
                  </ng-template>
                </td>

                <td>
                  <a title="Edit Notice" data-toggle="modal" data-target="#myModal" (click)="openUpdateModal(notice)" style="font-size: 20px"
                    class="fa fa-edit"></a>&nbsp;

                  <a title="Delete Notice" (click)="deleteNotice(notice.noticeId)" style="font-size: 20px" class="fa fa-trash"></a>
                </td>

              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <pagination-controls style="text-align: right; font-weight: bold;" (pageChange)="page = $event" autoHide="true">
          </pagination-controls>
        </div>

      </div>
    </div>
  </section>
</div>

<!-- Add Notices -->
<div *ngIf="showAddNotice" style="text-align: center" class="col-md-12">
  <h2>Add Notice</h2>
  <br>

  <form role="form" class="form-horizontal form-label-left" #noticeform="ngForm">
    <fieldset *ngFor="let noticeTemplate of noticeTemplateArray; let i = index" style="border: solid 1px beige; padding: 15px">
      <i *ngIf="i > 0" (click)="removeNoticeTemplate(noticeTemplate)" class="fa fa-times" style="float: right"></i>

      <div class="form-group row">
        <label class="form-control-label col-md-2" for="mask-int-phone">
          <input type="file" (change)="selectPhoto($event)">
          <small>pdf or jpg only</small>
        </label>
        <div class="col-md-9 col-xs-12">
          <input readonly autocomplete="off" style="width: 100%" type="text" [(ngModel)]="noticeTemplate.imageUrl" name="imageUrl{{i+1}}">
        </div>
      </div>
      <br>

      <div class="form-group row">
        <label class="form-control-label col-md-2" for="mask-int-phone">
          Title
        </label>
        <div class="col-md-9 col-xs-12">
          <input autocomplete="off" style="width: 100%" type="text" [(ngModel)]="noticeTemplate.title" name="title{{i+1}}">
        </div>
      </div>

    </fieldset>
    <br>
    <button [disabled]="noticeTemplateArray.length === 5" (click)="addNoticeTemplate()" class="btn btn-sm btn-info">Add More Attachments to Notice</button>

    <div class="modal-footer">
      <button (click)="addNotice(noticeform.value)" class="btn btn-success">Save Notice</button>
      <button (click)="close(); noticeform.reset()" class="btn btn-danger">Close</button>
    </div>
  </form>

</div>

<!-- Update Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Notice</h4>
      </div>
      <div *ngIf="tempNotice" class="modal-body">

        <form role="form" class="form-horizontal form-label-left" #updateNoticeForm="ngForm">

          <span>
            <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">
                Title
              </label>
              <div class="col-md-9 col-xs-12">
                <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="tempNotice.title1" name="noticeTitle1"></textarea>
              </div>
            </div>
            <br>

            <!-- <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">

              </label>
              <div class="col-md-9 col-xs-12">
                <img style="width: 200px; height: 200px; margin: auto" src="{{tempNotice.imageUrl1}}">
              </div>
            </div>
            <br> -->

            <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">
                <input type="file" (change)="selectPhoto($event)">
                <small>pdf or jpg only</small>
              </label>
              <div class="col-md-9 col-xs-12">
                <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="tempNotice.imageUrl1" name="noticeImageUrl1"></textarea>
              </div>
            </div>
          </span>

          <legend *ngIf="tempNotice.title2 || tempNotice.imageUrl2" style="text-align: center">More Attachments</legend>

          <span *ngIf="tempNotice.title2 || tempNotice.imageUrl2">
            <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">
                Title
              </label>
              <div class="col-md-9 col-xs-12">
                <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="tempNotice.title2" name="noticeTitle2"></textarea>
              </div>
            </div>
            <br>

            <!-- <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">

              </label>
              <div class="col-md-9 col-xs-12">
                <img style="width: 200px; height: 200px; margin: auto" src="{{tempNotice.imageUrl2}}">
              </div>
            </div>
            <br> -->

            <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">
                <input type="file" (change)="selectPhoto($event)">
                <small>pdf or jpg only</small>
              </label>
              <div class="col-md-9 col-xs-12">
                <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="tempNotice.imageUrl2" name="noticeImageUrl2"></textarea>
              </div>
            </div>
          </span>

          <span *ngIf="tempNotice.title3 || tempNotice.imageUrl3">
            <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">
                Title
              </label>
              <div class="col-md-9 col-xs-12">
                <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="tempNotice.title3" name="noticeTitle3"></textarea>
              </div>
            </div>
            <br>

            <!-- <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">

              </label>
              <div class="col-md-9 col-xs-12">
                <img style="width: 200px; height: 200px; margin: auto" src="{{tempNotice.imageUrl3}}">
              </div>
            </div>
            <br> -->

            <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">
                <input type="file" (change)="selectPhoto($event)">
                <small>pdf or jpg only</small>
              </label>
              <div class="col-md-9 col-xs-12">
                <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="tempNotice.imageUrl3" name="noticeImageUrl3"></textarea>
              </div>
            </div>
          </span>

          <span *ngIf="tempNotice.title4 || tempNotice.imageUrl4">
            <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">
                Title
              </label>
              <div class="col-md-9 col-xs-12">
                <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="tempNotice.title4" name="noticeTitle4"></textarea>
              </div>
            </div>
            <br>

            <!-- <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">

              </label>
              <div class="col-md-9 col-xs-12">
                <img style="width: 200px; height: 200px; margin: auto" src="{{tempNotice.imageUrl4}}">
              </div>
            </div>
            <br> -->

            <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">
                <input type="file" (change)="selectPhoto($event)">
                <small>pdf or jpg only</small>
              </label>
              <div class="col-md-9 col-xs-12">
                <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="tempNotice.imageUrl4" name="noticeImageUrl4"></textarea>
              </div>
            </div>
          </span>

          <span *ngIf="tempNotice.title5 || tempNotice.imageUrl5">
            <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">
                Title
              </label>
              <div class="col-md-9 col-xs-12">
                <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="tempNotice.title5" name="noticeTitle5"></textarea>
              </div>
            </div>
            <br>

            <!-- <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">

              </label>
              <div class="col-md-9 col-xs-12">
                <img style="width: 200px; height: 200px; margin: auto" src="{{tempNotice.imageUrl5}}">
              </div>
            </div>
            <br> -->

            <div class="form-group row">
              <label class="form-control-label col-md-2" for="mask-int-phone">
                <input type="file" (change)="selectPhoto($event)">
                <small>pdf or jpg only</small>
              </label>
              <div class="col-md-9 col-xs-12">
                <textarea style="width: 100%" class="feedInputFieldsCSS" type="text" [(ngModel)]="tempNotice.imageUrl5" name="noticeImageUrl5"></textarea>
              </div>
            </div>
          </span>

          <div class="modal-footer">
            <button (click)="updateNotice(tempNotice)" data-dismiss="modal" class="btn btn-success">Save</button>

            <button (click)="close()" data-dismiss="modal" class="btn btn-danger">Close</button>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>